@model AspNetGroupBasedPermissions.Models.SelectGroupRolesViewModel
@{ ViewBag.Title = "Group Role Permissions"; }

<h2>Permissions for Group @Html.DisplayFor(model => model.GroupName)</h2>
<hr />
<h4>Select Role Permissions for @Html.DisplayFor(model => model.GroupName)</h4>
@using (Html.BeginForm("GroupRoles", "Groups", FormMethod.Post, new { encType = "multipart/form-data", name = "myform" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        <div class="form-group">
            <div class="col-md-10">
                @Html.HiddenFor(model => model.GroupName)
                @Html.HiddenFor(model => model.GroupId)
            </div>
        </div>
        <style>
            td {
                padding: 2px;
            }
        </style>
        <table>
            @Html.EditorFor(model => model.Roles)
        </table>
        <br/>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
        <hr />
    </div>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

