@model IEnumerable<AspNetGroupBasedPermissions.Models.Group>
@{ ViewBag.Title = "Index"; }

<h2>Groups</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="myusers" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Group Name</th>
            <th>Settings</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Permissions", "GroupRoles", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
        </tbody>
</table>

@section Scripts{
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('#myusers').dataTable({
                "aoColumnDefs": [
                { 'bSortable': false, 'aTargets': [1] }
                ]
            });
        });
    </script>
}